<ion-header *ngIf="displayLogin">
  <ion-toolbar class="bar-calm">
    <ion-title class="bar-title">Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="block" class="btn-style" (click)="samlLoginValid()" type="button">Saml Login</ion-button>
  <ion-button expand="block" class="btn-style" (click)="openSafariUrl()" type="button">Safari Login</ion-button>
  <ion-button expand="block" class="btn-style" (click)="openWindow()" type="button">Basic window</ion-button>
</ion-content>